/flaskEnv

app/__pycache__/models.cpython-312.pyc

app/__pycache__/

instance/

tests/autentification_logic/__pycache__/

tests/utils/__pycache__/

tests/integrations/__pycache__/

tests/admin/__pycache__/

docs/build/doctrees/environment.pickle

docs/build/doctrees/index.doctree

docs/build/html/.buildinfo

docs/build/html/_sources/index.rst.txt

docs/build/html/_static/alabaster.css

docs/build/html/_static/basic.css

docs/build/html/_static/custom.css

docs/build/html/_static/doctools.js

docs/build/html/_static/documentation_options.js

docs/build/html/_static/file.png

docs/build/html/_static/github-banner.svg

docs/build/html/_static/language_data.js

docs/build/html/_static/minus.png

docs/build/html/_static/plus.png

docs/build/html/_static/pygments.css

docs/build/html/
