.btn-easy {
    background-color: rgba(35, 83, 53, 0.7); /* Zielony, subtelny */
}

.btn-medium {
    background-color: rgba(139, 116, 47, 0.9); /* Żółty, subtelny */
}

.btn-hard {
    background-color: rgba(85, 40, 45, 0.9); /* Czerwony, subtelny */
}

.custom-link{
	color: white;
}

.custom-link:hover{
	color: #c2c2c2;
}

body {
    background-color: #222;
}

.sudoku-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-table {
    border-collapse: collapse;
}

.sudoku-table td {
    border: 1px solid #aaa;
    padding: 0;
}

.sudoku-cell {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
}

/* Grube niebieskie linie co 3x3 */
.sudoku-table tr:nth-child(3n) td {
    border-bottom: 3px solid blue;
}
.sudoku-table td:nth-child(3n) {
    border-right: 3px solid blue;
}